.vscode/*
!.vscode/tasks.json

#ignoring all the node modules which are specific to this project
node_modules/

scripts/*.d.ts

#ignored js files
scripts/app_shell.js
scripts/home.js
scripts/utils.js

#ignore style css file as it is compiled
styles/styles.css
