.vscode/*
!.vscode/tasks.json

#ignoring all the node modules which are specific to this project
node_modules/

# `**` pattern is for ignoring in scripts folder as well as any sub folder
scripts/**/*.js

#ignoring any definition files in scripts folder
scripts/**/*.d.ts

#do not ignore few important js files
!scripts/rconfig.js
!scripts/setup.js

#ignore style css file as it is compiled
styles/styles.css
